/* Fonts */
@font-face {
  font-family: gotham;
  src: url('../fonts/Gotham-Medium.otf') format("opentype");
}
@font-face {
  font-family: gotham;
  font-weight: bold;
  src: url('../fonts/Gotham-Bold.otf') format("opentype");
}

/* Non-defaul Grid Layouts 
-------------------------------------------------- */
.panel-heading a {
  color: #fff;
}

.panel-heading a:hover {
  color: #ddd;
}

.panel-heading .addRemoveToggle {
  padding: 11px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  background: #555;
  color: #fff;
}

.panel-default>.panel-heading {
  background-color: #A9B955;
}

.black {
  color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'gotham', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  background-color: #f5f5f5;
}

.footer-top {
  height: 75px;
  background-color: #444444;
}

#profile-picture-upload {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -100px;
}

#banner-picture-upload {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -100px;
}

#banner-pic-button {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.footer-bottom {
  height: 50px;
  background-color: #A9B955;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

footer p{
  padding-top: 15px;
  text-decoration: none;
  color: #ddd;
}

footer a{
  text-decoration: none;
  color: #fff;
}

.main-container {
  padding-bottom: 75px;
}

.green {
  color: #A9B955;
}

.blue {
  color: #5bc0de;
}

.btn-green {
  background-color: #A9B955;
  color: #fff;
}

.btn-green:hover {
  background-color: #879733;
  color: #fff;

}

.profile-banner {
  width: 100%;
  height: 300px;
  background: #aaccaa;
  background-size: cover;
  overflow: hidden;
}

.profile-banner img {
  width: 100%;
}

.profile-banner-bar {
  width: 100%;
  background-color: #DFDFD4;
  border-bottom: solid 1px #bcbcbc;
}

.profile-banner-bar button {
  border-color: #444;
}

.profile-banner-bar .icon-bar {
  background-color: #444;
}

a.profile-nav {
    color: #444;
}

a.profile-nav:hover {
    color: #222;
    background-color: #DADAD1;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: 0px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-right {
  margin-right: 15px;  
}

.no-padding {
  padding: 0px;
}

.padding-xs {
  padding: 3px;
}

.padding-right-xs {
  padding-right: 10px;
}

.no-padding-top {
  padding-top: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;  
}

.nav-logo {
  height: 50px;
}

.index-logo {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tour-btn {
  padding: 15px;
  width: 100%;
  font-size: 1.25em;
  margin-bottom: 15px;
}

.green-color {
  color: 
}

.index-label {
  color  
}

.profile-hiker-name {
  margin-top: -40px;
  position: absolute;
  margin-left: 180px;
  background: #e7e7e7;
  display: inline-block;
  padding-left: 49px;
  padding-right: 20px;
  margin-bottom: -15px;
  border-radius: 0px 20px 0px 0px;
  border-bottom: solid 1px #bcbcbc;  
}



.nav-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-avatar {
  height: 50px;
}

.navbar-cog {
  font-size: 16pt;
}

.navbar-search {
  padding: 10px 15px;
}

@media (min-width:768px){
  .padding-left-sm {
    padding-left: 8px;
  }
}

@media (min-width:768px){
  .padding-right-sm {
    padding-right: 8px;
  }
}

.inline-form {
  display: inline-block;
}

.army-green {
  background: #C1C6A5;
}

.btn-outline {
  background: none;
  margin-top: 7px;
  color: #444;
  border: solid #444 1px;
  /*color: #efefef;*/
}

.btn-outline:hover {
  border: solid #fafafa 1px;
  color: #fafafa;
}

.btn-outline:hover .icon-bar {
  background-color: #fafafa;
}

.white {
  color: #efefef;
}

.lead {
	/*color:#efefef;*/
}

.landing-title {
  /*color: #fff;*/
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  overflow:hidden;
}

.container-full a {
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.max-width {
  max-width: 100%;
  width: 100%;
}

.justify {
  text-align: justify;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    /*text-align: center;*/
    background-color: rgba(214, 224, 226, 0.2);
    border: solid 1px rgba(214, 224, 226, 0.2);
}

.card.hovercard:hover {
    background-color: rgba(174, 184, 186, 0.2);
    border: solid 1px rgba(174, 184, 186, 0.2);
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -70px;
    left: 25px;
    width: 150px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.avatar-profile img {
  margin-top: -125px;
  position: relative;
  z-index: 3;
}

.navbar-nav {
  z-index: 2;
}

.card.hovercard .info {
  padding: 6px 15px 5px;
  margin-top: -120px;
  background-color: #DFDFD4;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
  text-align: right;
}

.card.hovercard .stats {
  min-height: 35px;
}

.card.hovercard .stats .col-xs-3 {
    text-align: center;
}

.card.hovercard .stats-title {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }


a {
  transition: color .1s ease;
  text-decoration: none;
  color: #007dc6;
}

a:hover {
  text-decoration: none;
  color: #3da1e0;
}

.hover-red:hover {
  color: darkred;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.checkbox {
  display: initial;
}

.carry {
  text-align: center;
}

.table-sort th{
  cursor: pointer;
}

.pointer {
  cursor: pointer
}

.margin-sm-bottom {
  margin-bottom: 20px;
}

.glyphicon {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 35px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.faded-font {
  color: #bbb;
}

.add-module {
  text-align: center;
  padding-top:15px;
  padding-bottom:15px;
}

.pack-wrapper {
  padding-bottom: 25px;
}

.module-options {
  text-align: right;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}